{% extends 'nyumbax/base.html' %} {% block content %}
<div class="row pt-5">
  <div class="col-12">
    <h2 class="text-center">Notices</h2>
  </div>
  <hr />
</div>
<div class="row">
  <div class="col-12">
    <a
      href="{% url 'nyumbax-create' %}"
      class="btn btn-primary btn-sm btn-circle float-start m-2 shadow"
      ><i class="fa fa-plus" aria-hidden="true"></i
    ></a>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <table class="table table-striped border">
      <thead>
        <tr>
          <th scope="col">Creator</th>
          <th scope="col">Title</th>
          <th scope="col">Body</th>
          <th scope="col">Time</th>
          <th scope="col">actions</th>
        </tr>
      </thead>
      <tbody>
        {% for post in object_list %}
        <tr>
          <th scope="row">{{ post.creator.username }}</th>
          <td>{{ post.title }}</td>
          <td>{{ post.body }}</td>
          <td>{{post.timestamp| date:"D d M Y"}}</td>
          <td>
            <a
              href="{% url 'nyumbax-detail' post.id %}"
              target="_blank"
              class="btn btn-outline-success btn-circle btn-sm m-2 shadow"
              ><i class="fa fa-eye" aria-hidden="true"></i
            ></a>
            {% if post.creator == user %}
            <a
              href="{% url 'nyumbax-delete' post.id %}"
              class="btn btn-outline-danger btn-circle btn-sm m-2 shadow"
              ><i class="far fa-trash-alt"></i
            ></a>
            <a
              href="{% url 'nyumbax-update' post.id %}"
              class="btn btn-outline-primary btn-sm btn-circle m-2 shadow shadow"
              ><i class="fas fa-edit"></i
            ></a>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
